.filter-button {
  background-color: transparent;
  color: inherit;

  padding: 0.5rem;

  cursor: pointer;

  display: grid;
  place-content: center;

  border-radius: var(--border-radius);

  border: 1px solid currentcolor;

  transition: 0.2s ease-in-out;
  transition-property:  background-color, color;

  &:hover {
    background-color: var(--color-primary-fade);
    color: var(--color-primary-opposite);
  }

  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
    border-color: var(--color-primary);
  }
}
